# Global build-related files

node_modules
**/node_modules

# file checksums used by gulp-once
.checksums
# Ignore npm pack files generated during npm publish testing
**.tgz

# MacOS
.DS_Store

# example build artifacts
example/.enum_manifest.json
example/.source_strings.json
example/.src_manifest.json
example/output
example/source_strings.json
example/src/translatedFbts
example/src/translatedFbts.json

# fbt runtime package
packages/fbt/dist
packages/fbt/lib
packages/fbt/LICENSE
packages/fbt/node_modules/.bin/fbt-*
packages/babel-plugin-fbt/dist/

# documentation build artifacts
website/build/
website/.docusaurus
