.DS_Store
.eslintcache
.pnpm-debug.log
**/node_modules
example/.enum_manifest.json
example/source_strings.json
example/src/translatedFbts
example/src/translatedFbts.json
node_modules
packages/*/lib
packages/*/LICENSE
packages/*/README.md
packages/fbtee/.enum_manifest.json
packages/fbtee/lib-tmp
packages/fbtee/Strings.json
tsconfig.tsbuildinfo
website/.enum_manifest.json
website/dist/
website/source_strings.json
website/src/translations
website/vite.config.ts.timestamp-*
