.warning {
  background-color: #be4b49;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 0 0 20px 0;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}

.example {
  background: #f4f4f4;
  border: 1px solid #c8c8c8;
  border-radius: 16px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  width: 480px;
}

.example h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin: 0 0 4px 0;
}

.example h2 {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

.example p {
  color: #777;
  font-size: 1rem;
  margin: 0 0 20px 0;
}

.example a {
  color: #365899;
  text-decoration: none;
}

.example a:hover {
  text-decoration: underline;
}

.example a:focus {
  outline: none;
}

.example input[type='number'],
.example input[type='text'],
.example input[type='password'] {
  border: 1px solid #bdc7d8;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
  padding: 8px 12px;
  width: 100%;
}

.example select {
  display: none;
}

.example input[type='radio'] {
  margin: 0 8px 0 0;
}

.example input:focus {
  outline: none;
}

.example input::placeholder {
  color: #90949c;
}

.example select {
  border: 1px solid #bdc7d8;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 0;
  padding: 4px;
  width: 100%;
}

.example select:focus {
  outline: none;
}

.example button {
  background: #67ae55;
  border: 1px solid;
  border-color: #40ae25;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
  min-width: 194px;
  padding: 8px 20px;
  position: relative;
  text-align: center;
}

.example button:hover {
  background: #79bc64;
}

.example button:active {
  top: 1px;
}

.example button:focus {
  outline: none;
}

.example fieldset {
  border: none;
  margin-inline-end: unset;
  min-inline-size: unset;
  padding-block-end: unset;
  padding-block-start: unset;
  padding-inline-end: unset;
  padding-inline-start: unset;
}

.example legend {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0 0 4px 0;
  padding: 8px 0 0 0;
}

.example label {
  align-items: center;
  display: inline-flex;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 4px 20px 4px 4px;
}

.example_row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
}

.sentence {
  background: #dddde8;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.5em;
  position: relative;
}

.example_row--multi {
  justify-content: space-between;
}

.example_input {
  display: block;
}

.example_input--half {
  width: calc(50% - 4px);
}

.example_input--20 {
  width: calc(20% - 4px);
}

.example_input--30 {
  width: calc(30% - 4px);
}

.example_input--40 {
  width: calc(40% - 4px);
}

.languages {
  color: #737373;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  margin: 24px 0;
  padding: 0 20px 8px 20px;
  white-space: nowrap;
}

.languages li {
  margin-right: 1em;
}

.languages a {
  color: #365899;
  text-decoration: none;
}

.languages a:hover {
  text-decoration: underline;
}

.languages a:focus {
  outline: none;
}

.copyright {
  color: #737373;
  font-size: 1rem;
  margin: 0 0 20px 0;
  text-align: left;
  width: 440px;
}

.neatoSelect {
  position: relative;
  top: 5px;
}

.neatoLink {
  font-weight: bold;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.padRight {
  padding-right: 0.3em;
}

.rtl .padRight {
  padding-left: 0.3em;
}

.pad {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

button.bottom {
  margin-top: 1em;
}
